<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Serving Static file</title>
  </head>
  <body>
    <div class="card">
      <h2>Welcome to Demo API</h2>
      <p>
        This is a demo movies API built using Express JS and a JSON file as a
        data source
      </p>
      <p>This is a simple demo HTML page Serving Static Files.</p>

      <h2 style="background-color: red; color: white; margin: 50px; padding: 10px 0;">
        External Stylesheet works here. Serving Static Files.
      </h2>
    </div>
  </body>
</html>
